html, body {
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: row;
}

header {
  display: grid;
  grid-auto-flow: column;
  gap: 6px;
}

div {
  border: 2px solid #2ecc71;
  background-color: green;
}

p {
  text-align: center;
}

@media screen and (max-width: 768px) {
  header {
    grid-auto-flow: row;
  }
  p {
    text-align: left;
    margin-left: 10px;
  }
}

main {
  display: grid;
  margin-top: 10px;
  grid-auto-flow: column;
  gap: 6px;
}

.content {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  main {
    grid-auto-flow: row;
  }
  .content {
    margin-left: 10px;
  }
}

footer {
  display: grid;
  margin-top: 10px;
  grid-auto-flow: column;
  gap: 6px;
}

#Copyright {
  text-align: center;
}

@media screen and (max-width: 768px) {
  footer {
    grid-auto-flow: row;
  }
  p {
    text-align: left;
    margin-left: 10px;
  }
}